.Todolist {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
}

.todo_list_item {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 20px;
    background: #ffffff;
    color: #3a7bd5;
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    border-radius: 3px;
}

.todo_list_item_done {
    text-decoration: line-through;
}


.todo_list_item:hover {
    background-color: #00d2ff;
    color: white;
}

.star_button {
    color: #D7DE17;
}


.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    min-width: 350px;
    padding: 30px;
    border-radius: 10px;
    background: rgba(250, 250, 250, 0.8);
}

.fa-trash-alt {
    color: red;
}